header {
  background: $main-background-color;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    width: $container-width;
    @include zero;

    .logo {
      float: left;
      color: #5dd1ff;
      font-size: $big-font-size;
      letter-spacing: 4px;
    }

    nav {
      float: right;

      .mobil--navbar {
        float: right;
        color: $primary-color;
        display: none;
        font-size: $big-font-size;
        margin-top: 15px;

        @include big {
          display: block;
        }
      }

      ul {
        @include big {
          display: none;
        }

        @include zero;
        li {
          display: inline-block;
          margin-left: 70px;
          padding-top: 25px;
          position: relative;

          a {
            color: $primary-color;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $small-font-size;
            font-family: $primary-font-family;
            font-weight: 600;
            letter-spacing: 1.5px;
            padding: 6px;
            border: 1px solid transparent;

            &:hover {
              border-color: $primary-color;
              @include radius(10px);
            }
          }
        }
      }
    }
  }
}
